# The "Global Presets" folder is obtained on a PC using 7-zip, by opening
# C:\ProgramData\D16 Group\Lush 2\Presets\Global Presets.d16pkg
# and then opening the "content" file within it.
#
# The result is a folder full of .sh2glb files

Global Presets/*